
<div style="width:70%;margin:auto;" *ngIf="ready">
    <h3 style="text-align: center;">Dettaglio Blog</h3>
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{blog.titoloArticolo}}</mat-card-title>
          <mat-card-subtitle>{{blog.createdAt | date:'longDate'}}</mat-card-subtitle>
        </mat-card-header>
        <div [ngStyle]="{'max-width': blog.immagineCopertina.width + 'px'}" style="margin : auto">
            <img mat-card-image src="{{blog.immagineCopertina.url}}">
        </div>
        
        <mat-card-content>
          <markdown ngPreserveWhitespaces>{{blog.body}}</markdown>
          <!-- <p>{{blog.body}}</p> -->
        </mat-card-content>
      </mat-card>
</div>
<button class="sticky-bottom-btn" mat-raised-button  color="primary" (click)="goToBlogList($event)">
  <mat-icon>keyboard_arrow_left</mat-icon> Indietro
</button>


