<div class="blog-container" >
  <mat-grid-list cols="3" gutterSize="5px" >
    <mat-grid-tile *ngFor="let blog of blogs">
      <mat-card style="width: 90%; ">
        <mat-card-header>
          <img mat-card-avatar src="{{blog.immagineCopertina.url}}"/>
          <mat-card-title>{{blog.titoloArticolo}}</mat-card-title>
          <mat-card-subtitle>{{blog.createdAt | date:'longDate'}}</mat-card-subtitle>
        </mat-card-header>
        <div style="display:flex; align-items: center; justify-content: center;height: 300px;">
          <img mat-card-image src="{{blog.immagineCopertina.url}}" alt="{{blog.titoloArticolo}}" style="max-height:300px">
        </div>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="goToDetail($event, blog)">Mostra Dettglio</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <button class="sticky-bottom-btn" mat-fab color="primary" (click)="goToNewBlog($event)">
    <mat-icon>add</mat-icon>
  </button>
</div>